*{
    box-sizing: border-box;
}
body{
    background-color: rgb(100, 175, 237);
}
.navbar{
    background-color: rgb(100, 216, 237);
    padding: 20px 40px;
    margin: auto;
    
}
.logo{ 
    font-size: 30px;
    padding-left: 40%;
}
.imgplus{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10%;
}

.row{
    margin: 20px 40px;
}
.col{
    background-color: white;
    margin-right: 40px;
    border-radius: 6%;
    }
P{
    font-size: 30px;
    padding: 10px;
    margin-left: 20%;
}
.item{
    width: 30px;
    height: 28px;
    margin-left: 20%;
        
    }
.text-add{
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: black;    
    }
.item-img{  
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    width: 30px;
    height: 28px;
    float: left;
    }
.img-plus{
    width: 70px;
    height: 70px;

}
.inp{
    width: 400px;
    height: 100px;

}